.drop_box {
    font-size: 1.25rem;
    background-color: #c8dadf;
    position: relative;
    padding: 2rem 1rem;
    margin: 1rem;
    align-items: center;
    justify-content: center;
    outline: 2px dashed #92b0b3;
    outline-offset: -10px;
    color: #0f3c4b;
}
.drop_box__input {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1rem;
}
.drop_box__file {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.drop_box__icon {
    width: 100%;
    font-size: 3rem;
    color: #92b0b3;
    display: block;
    margin-bottom: 1rem;
}
.drop_box__button {
    font-weight: 700;
    font-size: 1rem;
    color: #e5edf1;
    background-color: #39bfd3;
    display: block;
    padding: 8px 16px;
    border: none;
    border-radius: 5%;
    cursor: pointer;
}
.drop_box__button:hover {
    background-color: #0f3c4b;
}

.image {
    width: 100px;
}